/* BACKGROUND SECTION */
.bg-sect {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 1s;
}
.bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 1s;
}
.bg1 {
  /* background-color: aqua; */
}
.bg2 {
  z-index: -1;
  background: $light;
}
.bg3 {
  background-color: #e9e9e9;
  z-index: -2;
}
.bg4 {
  background-color: #e9e9e9;
  z-index: -3;
}
