/* INTRODUCTION*/

.scene.two {
  height: 250vh;
  text-transform: uppercase;
}
#charchu-black,
#charchu-white {
  visibility: hidden;
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  flex-flow: column;
  align-items: center;
}
.charchu-content {
  margin: auto;
}
.charchu-sub-content {
  padding: 2rem 1rem;
  width: 80vw;
  height: 60vh;
  background: $white;
  box-shadow: 5px 5px 15px rgba($rose, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  p {
    margin-top: auto;
    font-size: $fontSize3;
    color: $rose;
    letter-spacing: 1px;
  }
  h1 {
    font-size: $fontSize2;
    color: $dark;
  }
  img {
    height: 100%;
    align-self: center;
  }
  h2 {
    color: $tan;
    font-size: $fontSize2;
  }
  .product {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 4rem;
    width: 350px;
  }
  .desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: $dark;
    font-size: $fontSize3;
    line-height: 1.6em;
    text-align: left;
  }
  .charchu-btns {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
  .btn {
    display: inline-block;
    padding: 1rem 1rem;
    font-size: $fontSize2;
  }
}
