@import "vars";
@import "utils";
@import "header";
@import "introduction";
@import "backgrounds";
@import "faq";
@import "support";
@import "nav";
@import "purchase";
@import "whoarewe";
@import "footer";
/* RESPONSIVNESS */
@media (max-width: 960px) {
}
@media (max-width: 400px) {
}
@media (max-width: 580px) {
  #header-btns {
    display: flex;
    flex-flow: column;
    align-items: center;
    .btn {
      width: 80%;
      margin-left: 0;
      &.hallow {
        margin-top: 1rem;
        width: 70%;
      }
    }
  }
}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 500px) {
  .charchu-btns {
    .buy_now {
      display: none;
    }
  }
  .charchu-sub-content {
    img {
      align-self: center;
      height: 200px;
    }
    .product {
      margin-left: 10px;
    }
  }
}
@media (max-width: 600px) {
  .charchu-sub-content {
    .product {
      margin-left: 10px;
    }
  }
  #whoarewe {
    img {
      width: 100%;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 900px) {
  // #whoarewe {
  //   img {
  //     width: 60%;
  //   }
  // }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  /* Large devices (laptops/desktops, 992px and up) */
  .charchu-btns {
    .watch_video {
      display: none;
    }
  }
}
@media (min-width: 900px) {
  .charchu-sub-content {
    width: 70vw;
  }
}
@media (min-width: 1290px) {
  .charchu-sub-content {
    width: 50vw;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .fullscreen-video-wrap video {
    display: inline;
  }
  .fullscreen-video-wrap img {
    display: none;
  }
}
