@import "vars";
@import "utils";
@import "header";
@import "introduction";
@import "backgrounds";
@import "faq";
@import "support";
@import "nav";
@import "purchase";
@import "whoarewe";
@import "footer";
/* RESPONSIVNESS */
@media (max-width: 640px) {
  .btn {
    font-size: $fontSize3;
    padding: 0.5rem 1rem;
  }
  .header-content {
    #header-btns {
      .btn {
        width: 80%;
        margin-left: 0;
        &.hallow {
          margin-top: 1rem;
          width: 70%;
        }
      }
    }
    h1 {
      font-size: $fontSize2;
    }
    p {
      font-size: $fontSize3;
    }
  }
  .charchu-content {
    height: 100%;
  }
  .charchu-sub-content {
    width: 100vw;
    height: 100%;
    border-radius: 0;
    padding-top: 4rem;
    flex-flow: column;
    h1,
    h2 {
      font-size: $fontSize3;
    }
    img {
      height: 50%;
    }
    .product {
      margin-top: 1rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
    .btn {
      display: inline-block;
      padding: 0.5rem 1rem;
      width: 100%;
      font-size: $fontSize3;
      &.watch_video {
        display: none;
      }
    }
  }
  .title {
    font-size: $fontSize2;
  }
  form {
    font-size: $fontSize3;
    label,
    input,
    textarea,
    small,
    select {
      font-size: $fontSize3 !important;
    }
  }
  .section-faq {
    padding-left: 0;
    padding-right: 0;
  }
  .question {
    .Q,
    .A,
    .Q::before,
    .A::before {
      font-size: $fontSize3;
    }
  }
  .lead {
    font-size: $fontSize3;
  }
  #whoarewe {
    padding-top: 5rem;
    img {
      width: 100%;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
}
@media (min-width: 640px) and (max-width: 738px) {
  .charchu-sub-content {
    .btn {
      &.watch_video {
        display: none;
      }
    }
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .fullscreen-video-wrap video {
    display: inline;
  }
  .fullscreen-video-wrap img {
    display: none;
  }
}
